.withPlayer {
  display: flex !important;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
}

.withPlayer .VideoList {
    max-width: 350px;
  }

.VideoList {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  flex-wrap: wrap;
}

.VideoList .videoItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  background: white;
  flex: 1 1 35%;
}

.withPlayer .videoItem {
flex-direction: row;
padding: 20px;
margin: 10px auto;
background-color: white;
flex: 1 1 100%;

}
.withPlayer .videoItem .videoThumb {
max-width: 50%;
  }
  

  .withPlayer .VideoList  .title{
    padding-left: 15px;
    display: flex;
    flex: 1;
    }
  

.VideoList .videoItem img {
  height: auto;
  width: 100%;
}




.title {
    text-align: left;
}
.imgCount {
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
    .withPlayer {
      flex-direction: column;
  }
  .withPlayer .VideoList {
    max-width: 100%;
  }
  .withPlayer .videoItem {
    width: 100%;
}

.VideoList .videoItem {
  flex: 1 1 100%;
 
}
}